footer {
	padding-bottom: 30px;
}


.instagram-pics {
	width: 300px;
	border: 1px solid #202020;
	padding-left: 0;
	li {
		padding-left: 0;
		margin-left: 0;
		display: inline;
		list-style: none;
		width: 33.3333%;
		img {
			opacity: .3;
			transition: .3s;
			&:hover {
				opacity: 1;
			}
		}
	}
}

.footer-menu {
	ul {
		margin-left: 0;
		padding-left: 0;
		margin-bottom: 0;
		li {
			padding-left: 0;
			list-style: none;
			display: inline-block;
		}
		.nav-link {
			color: #666;
			font-size: 14px;
			font-weight: 600;
			&:hover {
				color: #181818;
			}
		}
		.active .nav-link {
			color: $red;
			font-weight: 700;
		}
	}
}

.star-footer {
	background: $primary;
	padding-top: 1rem;
	padding-bottom: 1rem;
	ul {
		padding-bottom: 0;
		margin-bottom: 0;
	}
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
	img {
		width: 30px;
		height: auto;
	}
	a {
		color: white;
		&:hover {
			color: #ededed;
		}
	}
}

.footer-logo {
	img {
		width: 120px;
		height: auto;
		margin: 15px auto;
	}
}